body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}













/*-----------------------------------------------------------------*/
/*.header-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-container li {
    float: left;
}

/*.header-container a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}*/

/*.nav-menu{
	height:80px;
	width:980px;
	background-color: green;
	font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 65px;
}*/
/*body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  padding: 0;
  background:#ccc;
}*/

.nav ul{
    
    list-style: none;
    background-color: /*rgba(79, 79, 77, .6);*/
    text-align: right;
    padding: 0;
    margin: 0;
}

.nav li{

	display: inline;
	padding: 0px 20px 0px 20px;
	float: right;
	vertical-align: middle;
	line-height: 80px;
}
/*.nav-menu ul{
	display: inline;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.nav-menu li {
	display: inline;
	padding: 20px;
    float: left;
}

.nav-menu a{
	text-decoration: none;
}*/

/*a:link, a:visited {
    display: block;
    width: 100px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}*/

/*body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  padding: 0;
  background:#ccc;
}
 
.nav ul {
  list-style: none;
  background-color: rgba(79, 79, 77, .6);
  text-align: right;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'verdana', sans-serif;
  font-size: .5em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;

}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {

}
 
.nav a.active {
  color: goldenrod;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  /*.nav li {
    display: inline-block;
    margin-right: -4px;
  }*/
 
   /*Options 2 - Float*/
 /* .nav li {
    float: right;
  }
  .nav ul {
    overflow: auto;
    width: 700px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  
}
*/