html{
}
.home body{
    background-image: url("sunset_splash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 800px;
}
.scapes{
    background-color: #000;
}
.scapes body{
    margin: 0;
    padding: 0;
}

.nav{
    height:80px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    margin-top: 65px;
}

.nav ul{
/*background-color: rgba(79, 79, 77, .6);*/
    text-align: right;
    padding: 0;
    margin-right: 150px;
}

.nav li{
    display: inline;
    padding: 0px 12px 0px 12px;
    float: right;
    vertical-align: middle;
    line-height: 80px;
    font-family: "Pacifica-Condensed";
    font-size: 20px;

}

.nav a {
  text-decoration: none;
  color: white;
  /*display: block;*/
  /*transition: .3s background-color;*/
}

.nav a:hover{
    color:#ffce00;
}

.nav a.active {
  color:#ffce00;
  cursor: default;
}

.logo{
    float: left;
}

.title{
    position: relative;
    color: black;
    font-family: "Pacifica-Condensed";
    font-size: 90px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 188px !important;
    margin-bottom: -50px;
}

.sub-title{
    color: white;
   font-weight: bold;
    font-size: 34px;
    text-align: center;
    margin-top: -10px;
}

.footer{
    width: 100%;
    height: 50px;
    margin-top: 200px;
    /*background-color: rgba(79, 79, 77, .7);*/
    color: white;
    box-sizing: border-box;
    padding-right: 140px;
    padding-left: 150px;
    /*vertical-align: middle;*/
    /*line-height: 50px;*/
}
.container ul{
    text-decoration: none;
    list-style-type: none;
    color: #7f7e7e;
}
a{
    text-decoration: none;
}
.footer ul{
    margin:0;
    padding:0;
}

.footer li{
    display: inline;
    line-height: 50px;
}

.social-links{
    float: right;
}
.social-links li img{
   margin-right: 10px;
}
.copywrite{
    float: left;

}

.footer  img{
    height: 20px;
    width: 20px;
}

.logo img{
    position: relative;
    height: 80px;
    width: 100px;
    margin-left: 100px;
    margin-top: 0px;
}

.title{
    margin-top: 20px;
}

.row{
    margin-left: 10px;
    margin-top: 20px;
}
.row.main{
    margin-top: -298px
}
.row.first{
    margin-top: -67px;
}

h4{
    /*margin-left: -60px;*/
    margin: 70px 0px -40px -50px;
    font-size: 35px !important;
}

.row a{
    text-decoration: none;
    color:#ffce00;
    font-size: 26px;
}

.row img:hover{
    opacity: 0.8;
}

.highlight{
    color:#ffce00 !important;
}
.img-box img{
    max-width: 190px;
    height: 190px;
    max-height: 190px;
    border: 1px solid gray;
}

.img-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 520px;
    width: 720px;
    background-color: gray;
    z-index: 999;
}
.close-modal{
    color: black;
    font-size: 18px;
    float: right;
    padding-right: 5px;
    cursor: hand;
}

.close-modal span:hover{
    cursor: pointer;
}

.modal-img img{
    position: relative;
    height: 470px;
    width: 690px;
    top: 0px;
    left: 15px;
}

.white{
    color: white;
}





